<div class="container" fxLayout='column' fxLayoutGap='10px'>
    <div class='headerArea' fxLayoutAlign='center center' style="background-image: url(https://images2.alphacoders.com/101/1017146.png);">
        <span class="title" fxLayoutAlign='center center'>MY SHOPPING CART</span>
    </div>
    <div class="cartHeader" fxLayoutAlign='start center'>
        <span fxFlex='73.8' class="productTitle" fxLayoutAlign='start center'>{{cartItems.length}} Items Selected</span>
    </div>
    <div class="cartArea" fxLayout='row' fxLayoutGap='15px'>
        <div fxFlex='1'></div>
        <div class="itemsArea" fxLayout='column' fxLayoutGap='15px'>
            <div *ngFor='let item of cartItems' class="item" fxLayout='column' fxLayoutGap='15px'>
                <div fxFlex='100' fxLayout='row' fxLayoutGap='7px'>
                    <img fxFlex='25' src='{{item.image}}'>
                    <div fxFlex class="itemDetails" fxLayout='row' fxLayoutAlign='center center' fxLayoutGap='7px'>
                        <div fxFlex='25' class='itemName' fxLayout='column' fxLayoutAlign='center center'>
                            <span fxFlex='25' class="name" fxLayoutAlign='center center'>{{item.name}}</span>
                            <span fxFlex='25' fxLayoutAlign='center center'>Game: {{item.game}}</span>
                        </div>
                        <div fxFlex='25' class="quanity" fxLayout='row' fxLayoutAlign='start center' fxLayoutGap='0px'>
                            <span fxFlex='90'>Quantity: {{item.quantity}}</span>
                            <mat-slider fxFlex thumbLabel 
                                [disabled]='item.maxQuantity == 1'
                                [(ngModel)]="item.quantity"
                                (change)="updateItemQuantity()"
                                min="1" [max]="item.maxQuantity" step="1" value='1'>
                            </mat-slider>
                        </div>
                        <span fxFlex='25' class='itemNumber' fxLayoutAlign='center center'>Item #: {{item.itemNumber}}</span>
                        <span fxFlex class='itemPrice' fxLayoutAlign='center center'>${{item.price}}</span>
                    </div>
                    <div fxFlex='3' class='removeArea' fxLayoutAlign='center start'>
                        <button class="removeItem" fxFlex (click)='delete(item.itemNumber)' fxLayoutAlign='center center'><mat-icon fxLayoutAlign='center center'>delete</mat-icon></button>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex class="priceArea" fxLayout='column' fxLayoutAlign='center center'>
            <div fxFlex class='titleArea' fxFlex='10' fxLayoutAlign='center center'>
                <span class='title' fxFlex fxLayoutAlign='center center'>SUMMARY</span>
            </div>
            <div fxFlex='18' class="promotionCodeArea" fxLayout='row wrap' fxLayoutAlign='center center' fxLayoutGap='5px'>
                <div fxFlex='100' fxLayoutGap='8px' class="name" fxLayout='row' fxLayoutAlign='center center'>
                    <span>Got A Promotion Code?</span>
                </div>
                <input fxFlex='70' class="promotion" #promotionCode placeholder="PROMOTION CODE" type="name" minlength="0" maxlength="10">
                <button fxFlex class="applyCodeBtn" (click)='setPromotionReward(promotionCode.value)'>Apply Code</button>
            </div>
            <span fxFlex class="subtotal" fxLayoutAlign='start center'>Subtotal: ${{subTotal}}</span>
            <div fxFlex class="priceDetail" fxLayout='row' fxLayoutAlign='start center' fxLayoutGap="5px">
                <button fxFlex='10' *ngIf="promotionSelection.selected[0]" 
                        class="rewardRefreshBtn"
                        (click)="refreshReward(); promotionCode.value=''"
                        matTooltip="Undo Reward"><mat-icon>refresh</mat-icon></button>
                <span class="promotionTitle" fxLayoutAlign='center center'>Reward:</span>
                <span fxFlex class="promotionRewardName"
                      [ngClass]="{'promotionRewardNameHighlighted': promotionSelection.selected[0]}">{{promotionRewardDescription}}</span>
            </div>
            <span fxFlex class="shippingFee" fxLayoutAlign='start center'>Est. Shipping: ${{shippingFee}}</span>
            <span fxFlex class="estimatedTotal" fxLayoutAlign='start center'>Est. Total: ${{estimatedTotal}}</span>
            <button fxFlex='10' class="checkout" fxLayoutAlign='center center'>CHECKOUT</button>
            <div fxFlex='1.5'></div>
        </div>
        <div fxFlex='1'></div>
    </div> 
</div>