.container{
    background-color: rgb(20, 20, 20);
    .headerArea{
        height: 16vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .title{
            height: 100%;
            width: 96%;
            font-weight: 100;
            font-size: 4vh;    
        }
    }
    .cartHeader{
        height: 5vh;
        margin: 0 auto;
        width: 96%;
        position: -webkit-sticky; /* Required for Safari */
        top: 0;
        position: sticky;
        background-color: rgb(20, 20, 20);
        .productTitle{
            height: 100%;
            width: 100%;
            font-size: 3vh;
            font-weight: 100;
        }
    }
    .cartArea{
        color: white;
        width: 100%;
        .itemsArea{
            .item{
                height: 21vh;
                border: 3px solid rgb(32, 32, 32);
                background-color: rgb(66, 66, 66);
                .itemDetails{
                    width: 100%;
                    .itemName{
                        width: 100%;
                        height: 100%;
                        font-size: 2vh;
                        .name{
                            font-size: 3.2vh;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .quanity{
                        height: 100%;
                    }
                    .outOfStock{
                        color: red;
                    }
                    .itemPrice{
                        height: 100%;
                        font-size: 3vh;
                    }
                    .stock, .itemNumber{
                        height: 100%;
                    }
                }
            }
            .item:hover{
                transition: .4s;
                cursor: pointer;
                background-color: rgba(122, 122, 122, 0.877);
            }
        }
        .priceArea{
            border: 3px solid rgb(32, 32, 32);
            height: 66.2vh;
            width: 90%;
            // top: 46px;
            // position: sticky;
            // position: -webkit-sticky; /* Required for Safari */
            background-color: rgb(66, 66, 66);
            .titleArea{
                width: 90%;
                .title{
                    height: 100%;
                    font-size: 3.4vh;
                    font-weight: 400;
                    border-bottom: 1.5px solid rgb(32, 32, 32);
                    width: 100%;
                }
            }
            .promotionCodeArea{
                width: 90%;
                .name{
                    height: 50%;
                    font-size: 2.5vh;
                    font-weight: 200;
                }
                .promotionType{
                    height: 38%;
                }
            }
            .checkout{
                font-size: 3vh;
                width: 90%;
                height: 100%;
                font-weight: 800;
            }
        }
        .subtotal{
            font-weight: 800;
            font-size: 2.5vh;
            width: 90%;
        }
        .priceDetail{
            font-size: 2.5vh;
            width: 90%;
            .promotionRewardNameHighlighted{
                color: rgb(107, 214, 250);
            }
        }
        .shippingFee{
            font-size: 2.5vh;
            width: 90%;  
        }
        .estimatedTotal{
            font-size: 2.5vh;
            font-weight: 800;
            width: 90%;
            color: #ffd740;
        }
        .itemsArea, .priceArea{
            width: 70%;
        }
    }
}
//BUTTON CSS
button{
    height: 50%;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: rgba(95, 255, 47, 0.856);
    &.removeItem{
        height: 20%;
        border: 1px solid black;
        background-color: rgba(116, 116, 116, 0.555);
          mat-icon{
            font-size: 3.4vh;
        }
    }
    &.removeItem:hover{
        transition: .15s;
        background-color: red;
    }
    &.applyCodeBtn{
        font-size: 1.7vh;
        font-weight: 900;
    }
    &.rewardRefreshBtn{
        width: 15%;
        background-color: transparent;
        outline: none;
        border: none;
        color: rgba(107, 214, 250, 0.637);
    }
    &.rewardRefreshBtn:hover{
        background-color: transparent;
        color: rgb(107, 214, 250);
    }
}
button:hover{
    cursor: pointer;
    background-color: rgb(95, 255, 47);
    transition: .15s;
}
// Input CSS
input{
    height: 50%;
    width: 70%;
    background-color: grey;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    outline: none;
    text-align: center;
    text-indent: 3px;
    font-size: 2vh;
    &.promotionSelected{
        border: 1.5px solid red;
    }
}
input:hover, input:focus{transition: .2s;
    background-color: rgb(150, 150, 150);
}
.promotion::placeholder{
    color: rgb(37, 37, 37);
}
.promotion:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(53, 53, 53);
}    
.promotion::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(53, 53, 53);
}
.promotionType{
    height: 38%;
}