<div class="container" fxLayout='column' fxLayoutAlign='center center' style="background-image: url(https://images4.alphacoders.com/919/919724.jpg);">
    <div class="signIn" fxFlex='80' fxLayout='column' fxLayoutGap='20px'>
        <div fxFlex class="titleArea" fxLayoutAlign='center center'>Sign In</div>
        <div fxFlex='35' class="credentialsArea">
            <form class="form" fxFlex fxLayout='column' fxLayoutAlign="center center" [formGroup]='formData.form' fxLayoutGap='15px'>
                <input fxFlex class="email" fxFlex #email formControlName='email' placeholder="Email" type="email" required>
                <input fxFlex class="password" fxFlex #password formControlName='password' placeholder="Password" type="password" required>
            </form>
        </div>
        <div fxFlex class="submissionArea" fxLayoutAlign='center center' fxLayout='column'>
            <button class="login" fxFlex='30'>Login</button>
            <div fxFlex class="otherBtnsArea" fxLayout='row wrap'>
                <div class="remember_create" fxLayout='row' fxLayoutGap='0px' fxLayoutAlign='center center' fxFlex='100'>
                    <button fxFlex class="remember" fxLayoutAlign='center center'>
                        <mat-checkbox color="warm" fxFlex fxLayoutAlign='center center' class="example-margin">Remember Me</mat-checkbox>
                    </button>
                    <div fxFlex='18'></div>
                    <button fxFlex class="create" (click)='onCreate()' fxLayoutAlign='center center'>Create Account</button>
                </div>
                <div fxLayout='row' fxLayoutAlign='center center' fxFlex='100'>
                    <button class="forgot" fxLayoutAlign='center center'>Forgot Password</button>
                </div>
            </div>
        </div>
    </div>
</div>