.container{
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .signIn{
        color: black;
        background-color: rgba(0, 0, 0, 0.438);
        border-radius: 20px;
        height: 70%;
        .titleArea{
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 6vh;
            color: white;
            font-weight: 900;
        }
        .credentialsArea{
            input{
                width: 90%;
                outline: none;
                border-radius: 40px;
                font-size: 17px;
                padding: 20px;
                border: 1px solid grey;
                color: white;
                background-color: rgba(56, 56, 56, 0.466);
                font-family: Arial, Helvetica, sans-serif;   
            }
            input::placeholder{
                color: rgb(170, 170, 170);
            }
            input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: rgb(170, 170, 170);
            }
              
            input::-ms-input-placeholder { /* Microsoft Edge */
                color: rgb(170, 170, 170);
            }
        }
        .submissionArea{
            .otherBtnsArea{
                color: orange;
                height: 100%;
                width: 90%;
                font-weight: 500;
            }
        }
    }
}
button{
    color: rgb(196, 196, 196);
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 2.5vh;
    width: 40%;
    height: 45%;
    font-weight: 800;
    &.forgot{
        width: 40%;
    }
    &.login{
        color: black;
        width: 60%;
        background-color: rgba(20, 243, 31, 0.808);
        border-radius: 40px;
        font-size: 20px;
        outline: none;
        border: 1px solid black;
    }
    &.login:hover{
        background-color: rgb(20, 243, 31);
        border: 1px solid black;
    }
    &.forgot, &.remember, &.create, &.login{
        cursor: pointer;
    }
    &.forgot:hover, &.remember:hover, &.create:hover{
        color: rgb(255, 255, 255);
    }
}
