.navMain{
    height: 10%;
    width: 100%;
    .navArea{
        height: 100%;
        width: 100%;
        background-color: black;
        color: white;
        .titleArea{
            font-family: "Comic Sans MS", cursive, sans-serif;
            text-align: center;
            height: 100%;
            width: 100%;
            .title{
                text-align: center;
                font-size: 3vh;
                outline: none;
            }
            .title:hover{
                cursor: pointer;
            }
        }
        .btnArea{
            height: 100%;
            width: 100%;
            button{
                height: 50%;
            }
        }
    }
}
.selected{
    color: rgb(82, 255, 47);
    transition: .2s;
}