<div class="navMain" fxLayoutAlign="center center">
    <!-- MAX Nav Bar Menu -->
    <div class="navArea" fxFlex fxLayoutAlign="center center" fxLayout="row">
        <div class="titleArea" fxFlex fxLayoutAlign="center center" matRipple>
            <span class="title" fxFlex='95' fxLayoutAlign="end center" fxShow="true" fxHide.lt-md="true" routerLink="/home" routerLinkActive="selected" matRipple>{{data.titleArea.title}}</span>
            <span class="title" fxFlex fxLayoutAlign="end center" fxShow="true" fxHide.gt-sm="true" routerLink="/home" routerLinkActive="selected" matRipple>WSFG</span>
        </div>
        <div class="btnArea" *ngFor="let nav of data.navArea.navs" fxLayoutAlign="center center" fxFlex>
            <button fxFlex='25' mat-button matTooltip="{{nav.toolTip}}" routerLinkActive="selected"
                fxLayoutAlign="center center" routerLink="/{{nav.link}}"><mat-icon fxLayoutAlign="center center">{{nav.icon}}</mat-icon></button>
        </div>
    </div>
</div>