.homePage{
    font-family: "Comic Sans MS", cursive, sans-serif;
    word-wrap: break-word;
    // Max Screen Home Area
    .homeArea{
        height: 90.9vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
        .title{
            width: 95%;
            margin-bottom: 10pt;
            color: rgb(121, 37, 37);
            font-size: 1.6rem;
            font-weight: 700;
        }
        .blurb{
            width: 100%;
            .regScreenInfo{
                height: 100%;
                .blurbBtn{
                    white-space: pre-line;
                    height: 37%;
                    background-color: rgba(3, 3, 0, 0.438);
                    width: 100%;
                    transition: .3s;
                }
                .blurbBtn:hover{
                    background-color: rgba(37, 207, 31, 0.877);
                }
            }
        }
    } 
    // Min Screen Home Area
    .homeArea{
        .minTitle{
            // background-color: rgba(0, 0, 0, 0.534);
            color: rgb(121, 37, 37);
            width: 90%;
            height: 100%;
            margin-bottom: 0px;
            font-weight: 900;
            font-size: 1.5rem;
        }
        .blurb{
            .smallScreenInfo{
                height: 50%;
                width: 100%;
                .blurbBtn{
                    white-space: pre-line;
                    height: 95%;
                    background-color: rgba(3, 3, 0, 0.438);
                    width: 60%;
                    margin-bottom: 5px;
                    transition: .3s;
                }
                .blurbBtn:hover{
                    background-color: rgba(37, 207, 31, 0.877);
                }
            }
        }
    }
    //Max Screen Trending Area
    .trendingArea{
        height: 100vh;
        color: white;
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .title{
            margin-top: 15px;
            font-family: "Comic Sans MS", cursive, sans-serif;
            width: 100%;
            font-size: 2.5rem;
            word-wrap: break-word;
        }
        .thumbNailArea{
            width: 95%;
            .thumbNail{
                background-color: rgba(0, 0, 0, 0.562);
                height: 90%;
                width: 100%;
                transition: .3s;
                .name{
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: white;
                    text-align: center;
                }
                .price{
                    font-size: 1.2rem;
                    color: white;
                    text-align: center;
                }
            }
            .thumbNail:hover{
                cursor: pointer;
                background-color: rgba(37, 207, 31, 0.877);
            }
        }
        .moreProducts{
            width: 95%;
            margin-bottom: 25pt;
            font-size: 2.5rem;
            word-wrap: break-word;
            button{
                font-family: "Comic Sans MS", cursive, sans-serif;
                color: black;
                font-size: 2.5rem;
                height: 70%;
                width: 95%;
                opacity: 0.7;
            }
            button:hover{
                opacity: 0.9;
            }
        }
    } 
    //Min Screen Trending Area
    .trendingArea{
        .minTitle{
            margin-top: 0px;
            font-family: "Comic Sans MS", cursive, sans-serif;
            width: 100%;
            margin-bottom: 0pt;
            font-size: 4vh;
            word-wrap: break-word;
        }
        .minThumbNailArea{
            width: 90%;
            .minThumbNail{
                width: 44%;
                height: 45%;
                margin-bottom: 15px;
                background-color: rgba(0, 0, 0, 0.87);
                transition: .3s;
                img{
                    opacity: 0.9;
                }
                .name{
                    font-size: .8rem;
                    font-weight: 400;
                    color: white;
                }
                .price{
                    font-size: .7rem;
                    color: white;
                }
            }
            .minThumbNail:hover{
                cursor: pointer;
                background-color: rgba(37, 207, 31, 0.877);
                img{
                    opacity: 8;  
                }
            }
        }
        .minMoreProducts{
            font-family: "Comic Sans MS", cursive, sans-serif;
            width: 83%;
            word-wrap: break-word;
            button{
                color: black;
                font-size: 1rem;
                height: 70%;
                width: 95%;
            }
            button:hover{
                opacity: 0.9;
            }
        }
    } 
    //MAX Screen Tutorial Area
    .tutorialArea{
        height: 100vh;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .title{
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 2.5rem;
            width: 100%;
            background-color: rgba(7, 3, 3, 0.514);
        }
        .steps{
            width: 100%;
            .step{
                width: 50%;
                height: 50%;
                border-radius: 50%;
                background-color: rgba(1, 8, 5, 0.582);
                transition: .3s;
                .number{
                    font-weight: bold;
                    color: greenyellow;
                    font-size: 5rem;
                }
                .info{
                    color: white;
                    font-size: 1rem;
                    font-weight: 900;
                }
                .extraInfo{
                    height: 50%;
                    display: none !important;
                }
            }
            .step:hover{
                cursor: pointer;
                width: 50%;
                height: 50%;
                border-radius: 0%;
                background-color: rgb(172, 255, 47);
                .number{
                    font-weight: 900;
                    color: red;
                }
                .info{
                    color: black;
                    font-weight: 900;
                }
                .extraInfo{
                    width: 100%;
                    display: block !important;
                    .mat-divider{
                        margin-top: 10%;
                        border-top-width: 2px;
                        border-top-style: solid;
                        border-top-color: rgba(2, 0, 0, 0.829);
                    }
                    .info{
                        text-align: center;
                        height: 100%;
                        font-size: 1.5rem;
                        font-weight: 800;
                        line-height: 25pt;
                    }
                }
            }
        }
        .moneyBack{
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 2.5rem;
            width: 100%;
            background-color: rgba(7, 3, 3, 0.514);
        }
    }
    //MIN Screen Tutorial Area
    .minTutorialArea{
        height: 100vh;
        color: white;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .title{
            font-family: "Comic Sans MS", cursive, sans-serif;
            font-size: 1.7rem;
            width: 100%;
            background-color: rgba(7, 3, 3, 0.514);
        }
        .steps{
            width: 100%;
            .step{
                width: 80%;
                height: 100%;
                background-color: rgba(1, 8, 5, 0.582);
                transition: .3s;
                .number{
                    font-weight: bold;
                    color: greenyellow;
                    font-size: 3rem;
                }
                .info{
                    color: white;
                    text-align: center;
                    font-size: 1.5rem;
                    font-weight: 900;
                }
                .extraInfo{
                    height: 50%;
                    display: none !important;
                }
            }
            .step:hover{
                cursor: pointer;
                width: 95%;
                border-radius: 0%;
                background-color: rgb(172, 255, 47);
                .number{
                    font-weight: bold;
                    color: red;
                    font-size: 4.5rem;
                }
                .info{
                    color: black;
                    font-weight: 900;
                }
                .extraInfo{
                    width: 100%;
                    display: block !important;
                    .mat-divider{
                        border-top-style: solid;
                        border-top-color: rgba(2, 0, 0, 0.829);
                    }
                    .info{
                        text-align: center;
                        height: 100%;
                        font-size: 1.5rem;
                        font-weight: 500;
                        line-height: 25pt;
                    }
                }
            }
        }
    }
}

//Home Area Queries
@media screen and (min-width: 0px) {
    .blurbBtn {
        font-size: .8rem;
    }
    .minThumbNail{
        .name{
            font-size: 500px;
        }
    }
  }
@media screen and (min-width: 360px) {
    .minThumbNail{
        .name{
            font-size: .2rem;
        }
    }
}
@media screen and (min-width: 860px) {
    .blurbBtn {
        font-size: 1.0rem;
    }
}
@media screen and (min-width: 1330px) {
    .blurbBtn {
        font-size: 1.3rem;
    }
}