<div class="homePage" fxLayout="column" fxLayoutAlign="center">
    <!-- Max Screen Home Area -->
    <div fxShow="true" fxHide.lt-md="true" class="homeArea" fxLayout="column" fxLayoutAlign="center center" style="background-image: url({{data.homeArea.image}});"> 
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="start start">{{data.homeArea.titleA}}</div>
        <div class="blurb" fxFlex='80' fxLayout="row wrap" fxLayoutAlign="start center">
            <div *ngFor="let blurb of data.homeArea.blurbs" class="regScreenInfo" fxFlex='12.5' fxLayout="row" fxLayoutAlign="{{blurb.alignment}}">
                <button id="{{blurb.id}}" class="blurbBtn" mat-fab color="primary" fxLayoutAlign="center center" (mouseenter)="homeAreaBtnsHover($event, 'entered')" 
                    (mouseleave)="homeAreaBtnsHover($event, 'left')">{{blurb.constantInfo}}</button>
            </div>
        </div>
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="start start">{{data.homeArea.titleB}}</div>
    </div>
    <!-- Min Screen Home Area -->
    <div fxShow="true" fxHide.gt-sm="true" fxLayoutGap="20px" class="homeArea" fxLayout="column" fxLayoutAlign="center center" style="background-image: url({{data.homeArea.image}});"> 
        <div class="minTitle" fxFlex='5' fxLayout="row" fxLayoutAlign="end center">{{data.homeArea.titleA}}</div>
        <div class="minTitle" fxFlex='5' fxLayout="row" fxLayoutAlign="start center">{{data.homeArea.titleB}}</div>
        <div class="blurb" fxFlex='95' fxLayout="row wrap" fxLayoutAlign="start center">
            <div fxLayoutGap="20px" *ngFor="let blurb of data.homeArea.blurbs" class="smallScreenInfo" fxFlex='50' fxLayout="column" fxLayoutAlign="center center">
                <button id="{{blurb.id}}" fxLayout="row" class="blurbBtn" mat-fab color="primary" fxLayoutAlign="center center" (mouseenter)="homeAreaBtnsHover($event, 'entered')" 
                    (mouseleave)="homeAreaBtnsHover($event, 'left')">{{blurb.constantInfo}}</button>
            </div>
        </div>
    </div>
    <!-- MAX Trending Area -->
    <div fxShow="true" fxHide.lt-md="true" class="trendingArea" fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center" style="background-image: url({{data.trendingArea.image}});"> 
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="center center">{{data.trendingArea.title}}</div>
        <div class="thumbNailArea" fxFlex='70' fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
            <mat-card *ngFor="let thumbNail of data.trendingArea.thumbNails" class="thumbNail" fxFlex='50' fxLayout="column" fxLayoutAlign="center center">
                <img fxFlex='80' mat-card-image 
                    src="{{thumbNail.image}}">
                <mat-card-title  class="name" fxFlex='10'>{{thumbNail.name}}</mat-card-title>
                <mat-card-title  class="price"fxFlex='10'>{{thumbNail.price}}</mat-card-title>
            </mat-card>
        </div>
        <div class="moreProducts" fxFlex='20' fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="primary" 
                style="background-image: url({{data.trendingArea.moreProducts.image}});">{{data.trendingArea.moreProducts.title}}</button></div>
    </div>
    <!-- MIN Trending Area -->
    <div fxShow="true" fxHide.gt-sm="true" class="trendingArea" fxLayoutGap="0px" fxLayout="column" fxLayoutAlign="center center" style="background-image: url({{data.trendingArea.image}});"> 
            <div class="minTitle" fxFlex='15' fxLayout="row" fxLayoutAlign="center center">{{data.trendingArea.title}}</div>
            <div class="minThumbNailArea" fxFlex='70' fxLayout="row wrap" fxLayoutGap="0px" fxLayoutAlign="center center">
                <mat-card class="minThumbNail" *ngFor="let thumbNail of data.trendingArea.thumbNails" fxLayout="column" fxLayoutAlign="center center">
                    <img fxFlex='80' mat-card-image src="{{thumbNail.image}}">
                    <mat-card-title  class="name" fxFlex='10'>{{thumbNail.name}}</mat-card-title>
                    <mat-card-title  class="price"fxFlex='10'>{{thumbNail.price}}</mat-card-title>
                </mat-card>
            </div>
            <div class="minMoreProducts" fxFlex='15' fxLayout="row" fxLayoutAlign="center center">
                <button mat-raised-button color="primary" style="background-image: url({{data.trendingArea.moreProducts.image}});">
                    {{data.trendingArea.moreProducts.title}}</button></div>
        </div>
    <!-- MAX Tutorial Area -->
    <div fxShow="true" fxHide.lt-md="true" class="tutorialArea" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center center" style="background-image: url({{data.tutorialArea.image}});"> 
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="center center">{{data.tutorialArea.titleA}}</div>
        <div class="steps" fxFlex='80' fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
           <div *ngFor="let step of data.tutorialArea.steps" (mouseenter)="tutorialAreaBtnsHover('entered')" (mouseleave)="tutorialAreaBtnsHover('left')" 
                id="step{{step.number}}" fxLayout="row wrap" class="step" fxFlex='20' fxLayoutAlign="center center">
               <span class="number" fxFlex='40' fxLayoutAlign="end center">{{step.number}}|</span>
               <span class="info" fxFlex='50' fxLayoutAlign="start center">{{step.info}}</span>
               <span class="extraInfo" fxFlex='100' fxLayoutAlign="start center">
                   <mat-divider></mat-divider>
                   <span class="info" fxFlex='100' fxLayoutAlign="center center">{{step.extraInfo.info}}</span>
                </span>
           </div>
        </div>
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="center center">{{data.tutorialArea.titleB}}</div>
    </div>
    <!-- MIN Tutorial Area -->
    <div fxShow="true" fxHide.gt-sm="true" class="minTutorialArea" fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center center" style="background-image: url({{data.tutorialArea.image}});"> 
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="center center">{{data.tutorialArea.titleA}}</div>
        <div class="steps" fxFlex='80' fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
            <div *ngFor="let step of data.tutorialArea.steps" (mouseenter)="tutorialAreaBtnsHover('entered')" (mouseleave)="tutorialAreaBtnsHover('left')" id="step{{step.number}}" 
                fxLayout="column" class="step" fxFlex='30' fxLayoutAlign="center center">
               <span class="number" fxFlex='30' fxLayoutAlign="center center">{{step.number}}</span>
               <span class="info" fxFlex='30' fxLayoutAlign="center center">{{step.info}}</span>
               <span class="extraInfo" fxFlex='30' fxLayoutAlign="start center">
                   <mat-divider fxFlex='100'></mat-divider>
                    <span class="info" fxFlex='100' fxLayoutAlign="center center">{{step.extraInfo.info}}</span>
                </span>
            </div>
        </div>
        <div class="title" fxFlex='10' fxLayout="row" fxLayoutAlign="center center">{{data.tutorialArea.titleB}}</div>
    </div>
</div>