<div *ngIf="data.snackBarType == 'message'" fxLayoutAlign='center center' fxLayout='row' fxLayoutGap='5px' fxFlex>
    <div fxLayout='column' fxLayoutGap='5px' fxFlex>
        <div fxLayoutAlign='center center' fxFlex>
            <span class="successText" [ngClass]="{'errorText': !data.dataSubmitted}">
                {{(data.dataSubmitted | snackBarText: data.snackBarType).confirmationText}}!
            </span>&nbsp;{{(data.dataSubmitted | snackBarText: data.snackBarType).remainingText}} 
        </div>
        <span class="emailConfirmation" *ngIf='data.dataSubmitted' fxLayoutAlign='center center' fxFlex>Email Confirmation Sent To: {{data.email}}</span>
    </div>
</div>
<div *ngIf="data.snackBarType == 'promotionCode'" fxLayoutAlign='center center' fxLayout='row' fxLayoutGap='5px' fxFlex>
    <div fxLayout='column' fxLayoutGap='5px' fxFlex>
        <div fxLayoutAlign='center center' fxFlex>
            <span class="successText" [ngClass]="{'errorText': !data.dataSubmitted}">
                {{(data.dataSubmitted | snackBarText: data.snackBarType).confirmationText}}!
            </span>&nbsp;{{(data.dataSubmitted | snackBarText: data.snackBarType).remainingText}}
        </div>
        <span class="emailConfirmation" *ngIf='data.dataSubmitted' fxLayoutAlign='center center' fxFlex>Reward: {{data.reward}}</span>
    </div>
</div>