<div class="mainView" fxLayout="column">
    <div class="header" fxFlex="15"  fxLayout="row">
        <div class="title" fxFlex="48.5" fxLayoutAlign="center center">Frequently Asked Questions</div>
        <div class="filters" fxFlex="48.5" fxLayoutAlign="center center" fxLayoutGap="10px">
            <button *ngFor="let filter of filters" fxFlex="15" fxLayoutAlign="center center"
                [ngClass]="filterSelection.isSelected(filter) ? 'filterSelectedClass' : 'filter'"
                (click)='selectFilter(filter)' mat-raised-button>{{filter}}</button>
        </div>
        <div fxFlex></div>
    </div>
    <div class="faqArea" fxLayout="column" fxFlex="85" >
        <div id='questionArea' class="questionArea" (scroll)="pinSelectedItem()" fxFlex>
            <button *ngFor="let question of questions" id='btn_{{question.id}}' [ngClass]="questionSelection.isSelected('btn_' + question.id) ? questionSelectedClass : 'question'" (click)="selectQuestion(question.id)">{{question.theQuestion}}</button>
            <button class="askAQuestion"(click)='openAskAQuestionModal()'[matTooltipPosition]="chatBubbleToolTipPosition.value" matTooltip="Ask a Question" mat-raised-button>
                <mat-icon fxLayoutAlign="center center">chat_bubble</mat-icon></button>
        </div>
        <div class="answerArea" fxLayout="column" fxFlex="20" fxLayoutAlign="center center">
            <span class="answer">{{answer}}</span>
        </div>
    </div>
</div>