    .mainView{
        color: white;
        height: 100%;
        .header{
            background-color: rgb(224, 148, 6);
            border-radius: 2px;
            color: black;
            .title{
                font-size: 3.7vh;
                font-weight: bold;
            }
            .filters{
                button{
                    height: 40%;
                    font-size: 2vh;
                    background-color: rgb(36, 36, 36);
                    color: white;
                    &.filterSelectedClass{
                        transition: .15s;
                        background-color: rgb(2, 189, 48);
                    }
                    &.filter:hover{
                        transition: .15s;
                        border: 3px solid rgb(2, 189, 48);
                    }
                }
            }
        }
        .faqArea{
            background-color: rgb(15, 15, 15);
            width: 100%;
            .questionArea{
                width: 100%;
                overflow: auto;
                text-align: center;
                display: table-cell;
                vertical-align: middle;
                button{
                    width: 100%;
                    height: 8.8vh;
                    background-color: rgb(15, 15, 15);
                    color: white;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid rgb(61, 60, 60);
                    margin: 0 auto;
                    display: block;
                    &.questionSelectedScrollingUp{
                        bottom: 0;
                    }
                    &.questionSelectedScrollingDown{
                        top: 0;
                    }
                    &.question:hover{
                        cursor: pointer;
                        transition: .15s;
                        background-color: rgba(39, 39, 39, 0.596);
                    }
                    &.questionSelectedScrollingUp, &.questionSelectedScrollingDown {
                        position: sticky;
                        position: -webkit-sticky; /* Required for Safari */
                        background-color: rgb(61, 61, 61);
                    } 
                   &.askAQuestion{
                       position: absolute;
                       width: 0px;
                       height: 6.5vh;
                       border-radius: 5px;
                       right: 2%;
                       bottom: 17%;
                       color: white;
                       background-color: rgb(211, 139, 7);
                       border: transparent;
                       mat-icon{
                           font-size: 3vh;
                           height: 100%;
                           width: 100%;
                       }
                   }
                   &.askAQuestion:hover{
                    background-color: rgb(238, 155, 0);
                   }
                }

            }
            .answerArea{
                border-top: 2px solid rgb(224, 148, 6);
                font-size: 3vh;
                color: rgb(0, 211, 53);
                background-color: rgb(15, 15, 15);
                .answer{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }