/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: black;
    color: white;
}
.askAQuestionDialog{
    mat-dialog-container{
        margin-top: 30px;
        padding: 0px !important;
        border-radius: 5px;
    }
}