.results{
    color: white;
    width: 80%;
    margin: 0 auto;
    height: 10%;
    font-size: 4vh;
    font-weight: 900;
}
.filtersArea{
    .filterTreeArea{
        margin: 0 auto;
        width: 80%;
        background-color: black;
        height: 100%;
        .filterTree{
            color: white;
            height: 100%;
            width: 50%;
            .filterArea{
                width: 100%;
                height: 100%;
                .filterName{
                    font-size: 20px;
                    font-weight: 900;
                }
                form{
                    height: 35px;
                    select{
                        background-color: rgba(145, 145, 145, 0.438);
                        border-radius: 4px;
                        height: 100%;
                        color: white;
                        outline: none;
                    }
                    select:hover{
                        cursor: pointer; 
                    }
                }
            }
        }
        .expandableNodes{
            height: 100%;
            .mat-tree-node{
                height: 100%;
                color: white;
                .title{
                    font-size: 1.2rem;
                    margin-left: 5px;
                }
            }
            .example-tree-invisible {
                display: none;
            }
        }
        .filterTree ul, .filterTree li {
            list-style-type: none;
        }
    }
}
mat-divider{
    color: white;
    background-color: white;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 18px;
}

// MAX Product Area
.maxProductArea{
    margin: 0 auto;
    width: 80%;
    .product{
        width: 24.25%;
        height: 42vh;
        margin-bottom: 25px;
        .thumbNail{
            background-color: rgba(0, 0, 0, 0.562);
            height: 100%;
            width: 100%;
            transition: .3s;
            .name{
                font-size: 1.4rem;
                font-weight: 700;
                color: white;
                text-align: center;
            }
            .price{
                font-size: 1.2rem;
                color: white;
                text-align: center;
            }
        }
        .thumbNail:hover{
            cursor: pointer;
            background-color: rgba(37, 207, 31, 0.877);
        }
    }
}

// MIN Product Area
.minProductArea{
    margin: 0 auto;
    width: 80%;
    .product{
        margin-bottom: 25px;
        width: 20%;
        height: 30vh;
        .thumbNail{
            background-color: rgba(0, 0, 0, 0.562);
            height: 100%;
            width: 100%;
            transition: .3s;
            .name{
                font-size: 1.5vh;
                font-weight: 700;
                color: white;
                text-align: center;
            }
            .price{
                font-size: 1.3vh;
                color: white;
                text-align: center;
            }
        }
        .thumbNail:hover{
            cursor: pointer;
            background-color: rgba(37, 207, 31, 0.877);
        }
    }
}
body {
    background-color: blue;
  } 