<!-- MAX SCREEN RESULTS -->
<div class="results" fxLayoutAlign="start center" fxShow="true" fxHide.lt-md="true">{{products.length}} Results Showing</div>
<!-- MIN SCREEN RESULTS -->
<div class="results" fxLayoutAlign="center center" fxShow="true" fxHide.gt-sm="true">{{products.length}} Results Showing</div>
<!-- Filters Area -->
<div class="filtersArea">
    <!-- Filter Tree -->
    <mat-tree [dataSource]="filterData" [treeControl]="treeControl" class="filterTreeArea">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node class="filterTree" *matTreeNodeDef="let node" matTreeNodeToggle fxLayout="column"> 
            <!-- Filter Area -->
            <div class="filterArea" fxLayout="row" fxLayoutAlign="center center">
                <!-- Filter Name -->
                <span fxFlex='11' class="filterName" fxLayout="row" fxLayoutAlign="start center">{{node.name}} </span>
                <!-- Filter = Sort By -->
                <div fxFlex='84' class="filterInfo" *ngIf="node.name == 'Sort By'" fxLayout="row" fxLayoutAlign="start center">
                    <form fxFlex="40" fxLayoutAlign="center center">
                        <!-- Select -->
                        <select fxFlex="100" matNativeControl required>
                            <!-- Options -->
                            <option *ngFor="let option of filterSortByOptions">{{option}}</option>
                        </select>
                    </form>
                </div>
                <!-- Filter = Gane -->
                <div fxFlex='84' class="filterInfo" *ngIf="node.name == 'Games'" fxLayout="row" fxLayoutAlign="start center">
                    <form fxFlex="40" fxLayoutAlign="center center">
                        <!-- Select -->
                        <select fxFlex="100" matNativeControl required>
                        <!-- Options -->
                            <option *ngFor="let game of filterByGamesOptions">{{game}}</option>
                        </select>
                    </form>
                </div>
            </div>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
            <li class="expandableNodes">
            <div class="mat-tree-node">
                <button mat-button matTreeNodeToggle>
                    <mat-icon>filter_list</mat-icon>
                    <span class="title">FILTERS</span>
                </button>
            </div>
            <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>
</div>
<mat-divider></mat-divider>
<!-- MAX Screen Products -->
<div class="maxProductArea" fxShow="true" fxHide.lt-md="true" fxLayout="row wrap" fxLayoutGap="1%">
    <!-- Services -->
    <div class="product" *ngFor="let product of products" fxShow="true" fxHide.lt-md="true">
        <!-- Thumb Nail -->
        <mat-card class="thumbNail" fxLayout="column" fxLayoutAlign="center center">
            <!-- Image -->
            <img fxFlex='80' mat-card-image src="{{product.image}}">
            <!-- Service Name -->
            <mat-card-title  class="name" fxFlex='10'>{{product.name}}</mat-card-title>
            <!-- Service Price -->
            <mat-card-title  class="price"fxFlex='10'>{{product.price}}</mat-card-title>
        </mat-card>
    </div>
</div>
<!-- MIN Screen Products -->
<div class="minProductArea" fxShow="true" fxHide.gt-sm="true" fxLayout="row wrap" fxLayoutGap="1%">
    <!-- Services -->
    <div class="product" *ngFor="let product of products" fxFlex="49">
        <!-- Thumb Nail -->
        <mat-card class="thumbNail" fxLayout="column" fxLayoutAlign="center center">
            <!-- Image -->
            <img fxFlex='80' mat-card-image src="{{product.image}}">
            <!-- Service Name -->
            <mat-card-title  class="name" fxFlex='10'>{{product.name}}</mat-card-title>
            <!-- Service Price -->
            <mat-card-title  class="price"fxFlex='10'>{{product.price}}</mat-card-title>
        </mat-card>
    </div>
</div>