.container{
    height: 100%;
    width: 100%;
    background-color: white;
    border: 2px solid orange;
    border-radius: 5px;
    .titleArea{
        width: 100%;
        height: 20%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: rgb(43, 43, 43);
        span{
            font-size: 3vh;
            color: white;
            font-weight: 900;
            text-align: center;
            width: 80%;
            height: 90%;
        }
    }
    .form{
        width: 100%;
        .message , .email{
            width: 98%;
            outline: none;
            border-radius: 4px;
            font-size: 17px;
            padding: 10px;
            border: 1px solid grey;
            background-color: rgba(126, 125, 125, 0.247);
            font-family: Arial, Helvetica, sans-serif;   
            resize: none;
        }
        .invalidInput{
            border: 1px solid red;
        }
    }
    .bottomArea{
        width: 100%;
        .errorMessages{
            height: 100%;
            .errorMessage{
                color: red;
            }
        }
        button{
            height: 100%;
            &.cancel{
                color: black;
            }
            &.cancel:hover{
                background-color: rgba(160, 160, 160, 0.363);
            }
            &.submit{
                background-color: rgba(92, 91, 91, 0.253);
                color: rgba(70, 70, 70, 0.329);
            }
            &.submitEnabled{
                background-color: rgb(4, 180, 4);
                border: 1px solid rgb(3, 190, 3);;
                color: white;
            }
            &.submitEnabled:hover{
                transition: .2s;
                background-color: rgb(0, 196, 0);
            }
        }
    }
}