 <div class="container" fxLayout='column' fxLayoutAlign="center center" fxLayoutGap='5px'>
    <div class="titleArea" fxFlex='20' fxLayoutAlign="center center">
        <span fxLayoutAlign="center center">For specific questions let us know and we will get back to you as soon as possible!</span>
    </div>
    <form class="form" fxFlex='69' fxLayout='column' fxLayoutAlign="center center" [formGroup]='formData.form' fxLayoutGap='5px'>
        <textarea class="message" fxFlex='90' #message
            formControlName='message'
            [ngClass]="{'invalidInput': formData.form | formInputValidityPipe: 'message': formData.form.value}"
            placeholder="Write Message..."
            type="text">
        </textarea>
        <input class="email" fxFlex #email
            formControlName='email'
            [ngClass]="{'invalidInput': formData.form | formInputValidityPipe: 'email': formData.form.value}"
            placeholder="EMAIL ADDRESS"
            type="email" required>
    </form>
    <div class='bottomArea' fxLayout='row' fxFlex='9' fxLayoutAlign="end center" fxLayoutGap='5px'>
        <div fxFlex='.5'></div>
        <div class='errorMessages' fxLayout='column' fxLayoutAlign="start start" fxFlex>
            <ng-container *ngFor="let input of formData.form.value | keyvalue">
                <span class="errorMessage" fxFlex *ngIf="formData.form | formInputValidityPipe: input.key: formData.form.value" 
                    fxLayoutAlign="start start">{{formData.form | formInputErrors: input.key: formData.form.value: formData.minimumCharacters}}</span>
            </ng-container>   
        </div>
        <button class="cancel" (click)='closePopUp()' fxFlex='20'
            color="primary" mat-button>Cancel</button>
        <button class="submit"  fxFlex='20'
            (click)='submitQuestion()' 
            [disabled]="formData.form | formReadyToSubmit: formData.form.value"
            [ngClass]="{'submitEnabled': !(formData.form | formReadyToSubmit: formData.form.value)}"
            mat-raised-button>Submit
        </button>
        <div fxFlex='1'></div>
    </div>
    <div fxFlex></div>
</div>